*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: rgb(92, 129, 121);
}
.animate{
  width: 200px;
  height: 140px;
  background: rgb(90, 228, 90);
  transition: width 1s;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
}
.animate:hover {
  width: 300px;
}
h1{
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 0px;
  float: left;
  color: yellow;
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 90%;
}
.center img{
  border-radius: 30px 50px 20px 80px;
}
body a{
  width: 50%;
}
.link{
  font-size: 70px;
  text-align: center;
}
.link :hover{
  color: white;
}
